<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>
    <link rel="stylesheet" href="/css/reviewAdmin.css">
</head>
<body>
<div class="header">
    <a href="#"><h2>관리자 페이지</h2></a>
    <div class="header-menu">
        <a href="#">관리자님</a>
        <button>로그아웃</button>
    </div>
</div>
<div class="container">
    <ul class="sidebar">
        <li>
            <a href="#">공지사항 관리</a>
        </li>
        <li>
            <a href="#" class="active">리뷰 관리</a>
        </li>
        <li>
            <a href="#">회원 관리</a>
        </li>
        <li>
            <a href="#">상품 관리</a>
        </li>
    </ul>
    <div class="main-content">
        <h2>리뷰 관리</h2>
        <button class="btn-delete-selected" id="delete-selected-btn">선택 항목 삭제</button>
        <table class="review-table">
            <thead>
            <tr>
                <th><input type="checkbox" id="select-all-checkbox"></th>
                <th>제목</th>
                <th>내용</th>
                <th>작성자</th>
                <th>등록 일자</th>
                <th>상품명</th>
                <th>관리</th>
            </tr>
            </thead>
            <tbody id="review-list">
            <!-- JS에서 동적으로 리뷰 리스트를 추가할 예정 -->
            </tbody>
        </table>

        <!-- 페이지네이션 -->
        <div class="pagination" id="pagination">
            <!-- 페이지 번호가 동적으로 추가됩니다 -->
        </div>

        <div class="search-bar">
            <select id="search-type">
                <option value="reTitle">제목</option>
                <option value="reContent">내용</option>
                <option value="pname">상품명</option>
            </select>
            <input type="text" id="search-keyword" placeholder="검색할 내용을 입력 해주세요">
            <button class="btn-search">검색</button>
        </div>
    </div>
</div>

<footer>
    <ul class="footer-text">
        <li><a href="#">회사 소개</a></li>
        <li><a href="#">공지사항</a></li>
        <li><a href="#">문의하기</a></li>
        <li><a href="#">운영 정책</a></li>
    </ul>
</footer>

<script src="/js/reviewAdmin.js"></script>
</body>
</html>
