<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mart.boot.product.model.mapper.ProductMapper">
	<!-- 관지라_전체 상품 조회 -->
    <select id="selectList" resultType="com.mart.boot.product.model.vo.ProductVO">
        SELECT * FROM PRODUCT ORDER BY REG_DATE DESC
    </select>
    
    <!-- 관리자_상품 기본 정보 등록 -->
    <insert id="addProduct" useGeneratedKeys="true" keyProperty="pNo" keyColumn="P_NO">
	    INSERT INTO PRODUCT (P_NO, P_NAME, P_INPUT, P_OUTPUT, EXPIRATION, REG_DATE, CATEGORY_NO, SALE, P_PRICE)
	    VALUES (PRODUCT_SEQ.NEXTVAL, #{pName}, #{pInput}, #{pOutput}, #{expiration}, SYSTIMESTAMP, #{categoryNo}, #{sale}, #{pPrice})
	</insert>
	<!-- 관리자_상품 상세 정보 등록 -->
	<insert id="addProductDetail" parameterType="ProductDetailVO">
	    INSERT INTO PRODUCT_DETAIL (P_NO, IMG_MAIN, IMG_COOK, IMG_COMPONENT, P_COMPONENT, COOK, CONTENT, CATEGORY_NO)
	    VALUES (#{pNo}, #{imgMain}, #{imgCook}, #{imgComponent}, #{pComponent}, #{cook}, #{content}, #{categoryNo})
	</insert>
    <!-- 관리자_상품 이미지 등록 -->
    <insert id="addProductFile" parameterType="ProductImageVO">
	    INSERT INTO PRODUCT_IMAGE (IMAGE_ID, FILE_NAME, FILE_RENAME, FILE_PATH, P_NO)
	    VALUES (PRODUCT_IMAGE_SEQ.NEXTVAL, #{fileName}, #{fileRename}, #{filePath}, #{pNo})
	</insert>
	
	<!-- 관리자_상품 기본 및 상세 정보 -->
	<select id="selectOneWithDetail">
		SELECT 
        p.P_NO, p.P_NAME, p.P_INPUT, p.P_OUTPUT, p.EXPIRATION, p.REG_DATE, p.CATEGORY_NO, p.SALE, p.P_PRICE,
        pd.IMG_MAIN, pd.IMG_COOK, pd.IMG_COMPONENT, pd.P_COMPONENT, pd.COOK, pd.CONTENT
    	FROM PRODUCT p
	    LEFT JOIN PRODUCT_DETAIL pd ON p.P_NO = pd.P_NO
	    WHERE p.P_NO = #{pNo}
	</select>
	<!-- 관리자_상품 기본 정보 수정 -->
	<update id="updateProduct">
		UPDATE product
    	SET pName = #{pName}, pInput = #{pInput}, pOutput = #{pOutput}, expiration = #{expiration},
        	categoryNo = #{categoryNo}, sale = #{sale}, pPrice = #{pPrice}
    	WHERE pNo = #{pNo}
	</update>
	<!-- 관리자_상품 상세 정보 수정 -->
	<update id="updateProductDetail">
        UPDATE product_detail
	    SET imgMain = #{imgMain}, imgCook = #{imgCook}, imgComponent = #{imgComponent}, 
	     	pComponent = #{pComponent}, cook = #{cook}, content = #{content}
	    WHERE pNo = #{pNo}
    </update>

	<!-- 관리자_상품 이미지 삭제 -->
	<delete id="deleteProductImage">
	    DELETE FROM PRODUCT_IMAGE WHERE P_NO = #{pNo}
	</delete>
	<!-- 관리자_상품 삭제 -->
	<delete id="deleteProduct">
	    DELETE FROM PRODUCT WHERE P_NO = #{pNo}
	</delete>

    <select id="selecpagetList" resultType="com.mart.boot.product.model.vo.ProductVO">
        SELECT * FROM PRODUCT ORDER BY REG_DATE DESC
    </select>
    <select id="selectOne" resultType="ProductVO">
    	SELECT * FROM PRODUCT WHERE P_NO =#{pNo}
    </select>
     
    <select id="selectKoreanFood" resultType="com.mart.boot.product.model.vo.ProductVO">
   		SELECT * FROM PRODUCT WHERE CATEGORY_NO = #{categoryNo} ORDER BY REG_DATE DESC
	</select>
	<select id="selectChinesesFood" resultType="com.mart.boot.product.model.vo.ProductVO">
	    SELECT * FROM PRODUCT WHERE CATEGORY_NO = #{categoryNo} ORDER BY REG_DATE DESC
	</select>
	<select id="selectJapaneseFood" resultType="com.mart.boot.product.model.vo.ProductVO">
   		SELECT * FROM PRODUCT WHERE CATEGORY_NO = #{categoryNo} ORDER BY REG_DATE DESC
	</select>
</mapper>
