<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 리뷰내역</title>
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/myreviewpage.css">
</head>
<body>
<!-- =========================== 헤더 사이드바 ================================== -->
	<header>
		<div class="container">
			<div class="header-content">
				<a href="/"><img class="headerimage" src="/images/logo.png" alt="로고입니다만"> </a>
				<nav>
					<ul>
						<li><a href="/">홈</a></li>
						<li><a href="/productpage/list">상품</a></li>
						<li><a href="/notice/user">공지사항</a></li>
						<li><a href="/review/user">리뷰</a></li>
					</ul>
				</nav>
				<div class="user-actions">
					<span th:if="${session.loggedInMember != null}"> <a
						href="/member/mypage" th:text="${session.loggedInMember + '님'}"></a>
					</span>
					 <span th:unless="${session.loggedInMember != null}">로그인 후
						이용하세요</span> <span th:if="${session.loggedInMember != null}"> <a
						href="/member/logout">로그아웃</a>
					</span> 
					<span th:unless="${session.loggedInMember != null}"> <a
						href="/member/login">로그인</a>
					</span> 
					 <span>QR</span>
				</div>
			</div>
		</header>
    <div class="reviewcontainer">
        <h1>내 리뷰내역</h1>
        <p>리뷰내역이 남겨주신 소중한 리뷰를 이곳에 담아두었습니다! 앞으로 남겨주실 리뷰들도 기다리고 있겠습니다!</p>
        
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>카테고리</th>
                    <th>리뷰내용</th>
                    <th>등록 날짜</th>
                    <th>상태</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" class="checkbox"></td>
                    <td>상품</td>
                    <td>재입고 예정일 문의</td>
                    <td>2024.10.04</td>
                    <td>답변대기중</td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="checkbox"></td>
                    <td>상품</td>
                    <td>상품 불량으로 인한 교환 신청</td>
                    <td>2024.10.02</td>
                    <td>답변대기중</td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="checkbox"></td>
                    <td>상품</td>
                    <td>상품 불량으로 인한 교환 신청</td>
                    <td>2024.09.25</td>
                    <td>답변대기중</td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="checkbox"></td>
                    <td>상품</td>
                    <td>상품 불량으로 인한 교환 신청</td>
                    <td>2024.09.22</td>
                    <td>답변완료</td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="checkbox"></td>
                    <td>상품</td>
                    <td>상품 상세 정보 추가 요청</td>
                    <td>2024.09.22</td>
                    <td>답변완료</td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="checkbox"></td>
                    <td>상품 </td>
                    <td>상품 재입고 예정일 문의</td>
                    <td>2024.09.22</td>
                    <td>답변완료</td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="checkbox"></td>
                    <td>상품</td>
                    <td>주문 취소 요청 관련 문의</td>
                    <td>2024.09.20</td>
                    <td>답변완료</td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="checkbox"></td>
                    <td>상품</td>
                    <td>재입고 예정일 문의</td>
                    <td>2024.09.15</td>
                    <td>답변완료</td>
                </tr>
            </tbody>
        </table>
    </div>
       <footer>
        <hr>
        <div class="footerclass">
            <a href="/introduce">회사소개</a>
            <a href="/notice/user">공지사항</a>
            <a href="/inquiry">문의하기</a>
            <a href="/policy">운영정책</a>
        </div>
    </footer>
</body>
</html>