<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 조회</title>
	<link rel="stylesheet" href="/css/commonAdmin.css">
    <link rel="stylesheet" href="/css/product/admin/list.css">
</head>
<body>
    <div class="header">
        <a href="/admin"><h2>관리자 페이지</h2></a>
        <div class="header-menu">
            <a href="#">관리자님</a>
            <button>로그아웃</button>
        </div>
    </div>
    <div class="container">
        <ul class="sidebar" style="font-weight: bold; font-size: 17px;">
            <li>
                <a href="/inquiry">공지사항 관리</a>
            </li>
            <li>
                <a href="/review/admin">리뷰 관리</a>
            </li>
            <li>
				<a href="#" class="dropbtn">상품 관리</a>
				<ul class="dropdown-content">
					<li><a href="/admin/product/register">상품 등록</a></li>
					<li><a href="/admin/product/list" class="active">상품 조회</a></li>
				</ul>
			</li>
        </ul>
        <div class="content">
            <h2>상품 조회하기</h2>
            <form th:action="@{/admin/product/list}" method="get">
				<input type="hidden" name="prsnPageNo" th:value="${criteria.prsnPageNo}" />
	            <div class="search-container">
	                <div class="search-form">
	                    <div class="date-range">
	                        <label><b>등록 기간</b></label>
	                        <input type="date" name="startDate">
	                        <span style="margin: 0 5px;">-</span>
	                        <input type="date" name="endDate">
	                    </div>
	                    <div class="category-range">
	                        <label><b>상품 유형</b></label>
	                        <select name="categoryNo">
	                            <option value="999">전체</option>
	                            <option value="1">한식</option>
	                            <option value="2">중식</option>
	                            <option value="3">일식</option>
	                        </select>
						</div>
						<div class="remainingDays-range">
							<label style="width: 120px;"><b>남은 유통기한</b></label>
							<input type="text" name="remainingDays">
							<p>일 이하</p>
						</div>
	                    <div class="productName-range">
	                        <label><b>상품명</b></label>
	                        <input type="text" name="pName" placeholder="상품명을 입력하세요.">
						</div>
	                    <div style="display: flex; align-items: center;">
							<button class="button" type="submit">검색</button>
						</div>
					</div>
				</div>
			</form>
			<form th:action="@{/admin/product/delete/check}" method="post">
				<div class="resultAndButtons">
					<span th:text="${totalCount != null ? totalCount + '개가 검색되었습니다.' : '상품이 없습니다.'}"></span>
					<input type=button class="button" onclick="selectAll(true);" value="전체 선택"/>
					<input type=button class="button" onclick="selectAll(false);" value="전체 해제"/>
					<button type="submit" class="button" onclick="confirmMultipleDelete();"style="background-color: #ff0033;">삭제</button>
				</div>
	            <table>
	                <thead>
	                    <tr style="height: 50px;">
	                        <th style="width: 3%;"></th>
	                        <th style="width: 10%;">상품 유형</th>
	                        <th style="width: 40%;">상품명</th>
	                        <th style="width: 10%;">상품 가격</th>
	                        <th style="width: 10%;">등록 일자</th>
	                        <th style="width: 10%;">남은 유통기한</th>
	                        <th></th>
	                        <th></th>
	                    </tr>
	                </thead>
	                <tbody>
	                	<tr th:if="${pList == null or pList.isEmpty()}">
			            	<td colspan="8" style="text-align:center;">상품이 없습니다.</td>
			            </tr>
					    <tr th:each="productVO : ${pList}">
						    <td><input type="checkbox" name="chk" class="product-checkbox" th:value="${productVO.pNo}"></td>
						    <td th:text="${productVO.categoryNo == 1 ? '한식' : 
	                     					productVO.categoryNo == 2 ? '중식' : 
	                    					productVO.categoryNo == 3 ? '일식' : '기타'}"></td>
						    <td th:text="${productVO.pName}"></td>
						    <!-- 가격 : 할인가/정가 -->
						    <td th:if="${productVO.sale > 0}">
	            				<span th:text="${#numbers.formatDecimal((productVO.pPrice * (1 - (productVO.sale / 100.0))), 0, 'COMMA', 0, 'POINT') + '원'}"></span>
	           				</td>
	           				<td th:if="${productVO.sale == 0}">
					            <span th:text="${#numbers.formatDecimal(productVO.pPrice, 0, 'COMMA', 0, 'POINT') + '원'}"></span>
					        </td>
					        <!-- 등록 일자 -->
						    <td th:text="${productVO.regDate}"></td>
						    <!-- 남은 기한 -->
	    					<td th:if="${productVO.remainingDays != null and productVO.remainingDays > 0}" th:text="${productVO.remainingDays + ' 일'}"></td>
							<td th:if="${productVO.remainingDays == null or productVO.remainingDays <= 0}" th:text="'X'"></td>
	
						    <td><button class="button" type="button" th:onclick="showModify([[${productVO.pNo}]]); return false;" style="background-color: #007bff;">수정</button></td>
						    <td><button class="button" th:onclick="deleteProduct([[${productVO.pNo}]]); return false;" style="background-color: #ff0033;">삭제</button></td>
						</tr>
					</tbody>
	            </table>
            </form>
			<div class="paginate-wrap">
				<div class="paginate">
				    <!-- 이전 버튼 -->
				    <div>
				        <form th:if="${pagenationInfo.prev}" method="GET" action="/admin/product/list">
				            <input type="hidden" name="prsnPageNo" th:value="${pagenationInfo.firstPageNo - 1}" />
				
				            <!-- 검색 조건 hidden 필드 추가 -->
				            <input type="hidden" name="startDate" th:value="${searchMap.startDate != null ? searchMap.startDate : ''}" />
							<input type="hidden" name="endDate" th:value="${searchMap.endDate != null ? searchMap.endDate : ''}" />
							<input type="hidden" name="categoryNo" th:value="${searchMap.categoryNo != null ? searchMap.categoryNo : 999}" />
							<input type="hidden" name="remainingDays" th:value="${searchMap.remainingDays != null ? searchMap.remainingDays : ''}" />
							<input type="hidden" name="pName" th:value="${searchMap.pName != null ? searchMap.pName : ''}" />
				
				            <button type="submit">이전</button>
				        </form>
				    </div>
				
				    <!-- 페이지 번호 -->
				    <div th:each="pageNo : ${#numbers.sequence(pagenationInfo.firstPageNo, pagenationInfo.lastPageNo)}">
				        <form method="GET" action="/admin/product/list">
							<input type="hidden" name="prsnPageNo" th:value="${pageNo}" />
				            <!-- 검색 조건 hidden 필드 추가 -->
				            <input type="hidden" name="startDate" th:value="${searchMap.startDate != null ? searchMap.startDate : ''}" />
							<input type="hidden" name="endDate" th:value="${searchMap.endDate != null ? searchMap.endDate : ''}" />
							<input type="hidden" name="categoryNo" th:value="${searchMap.categoryNo != null ? searchMap.categoryNo : 999}" />
							<input type="hidden" name="remainingDays" th:value="${searchMap.remainingDays != null ? searchMap.remainingDays : ''}" />
							<input type="hidden" name="pName" th:value="${searchMap.pName != null ? searchMap.pName : ''}" />
				
				            <button type="submit" th:classappend="${pageNo == criteria.prsnPageNo} ? 'on'">[[${pageNo}]]</button>
				        </form>
				    </div>
				
				    <!-- 다음 버튼 -->
				    <div>
				        <form th:if="${pagenationInfo.next}" method="GET" action="/admin/product/list">
				            <input type="hidden" name="prsnPageNo" th:value="${pagenationInfo.lastPageNo + 1}" />
				
				            <!-- 검색 조건 hidden 필드 추가 -->
				            <input type="hidden" name="startDate" th:value="${searchMap.startDate != null ? searchMap.startDate : ''}" />
							<input type="hidden" name="endDate" th:value="${searchMap.endDate != null ? searchMap.endDate : ''}" />
							<input type="hidden" name="categoryNo" th:value="${searchMap.categoryNo != null ? searchMap.categoryNo : 999}" />
							<input type="hidden" name="remainingDays" th:value="${searchMap.remainingDays != null ? searchMap.remainingDays : ''}" />
							<input type="hidden" name="pName" th:value="${searchMap.pName != null ? searchMap.pName : ''}" />
				
				            <button type="submit">다음</button>
				        </form>
				    </div>
				</div>
			</div>
		</div>
	</div>
	<!-- <footer>
		<ul class="footer-text">
			<li><a href="/introduce">회사 소개</a></li>
			<li><a href="/notice/admin">공지사항</a></li>
			<li><a href="/inquiry">문의 하기</a></li>
			<li><a href="/policy">운영 정책</a></li>
		</ul>
	</footer> -->
	<script th:inline="javascript">
		/* 메시지가 있을 경우 alert로 표시 */
		if(/*[[${message != null}]]*/ false){
			alert(/*[[${message}]]*/'');
		}
		
		// 상품 수정하기
		function showModify(pNo){
			location.href = '/admin/product/' + pNo + '/modify';
		}
	
		// 상품 개별 삭제하기
		function deleteProduct(pNo){
			if(confirm("삭제하시겠습니까?")) {
				location.href = '/admin/product/delete/' + pNo;
			}
		}
		
		// 다중 선택 삭제
		function confirmMultipleDelete() {
		    const checkboxes = document.querySelectorAll('.product-checkbox:checked');
		    
		    if (checkboxes.length === 0) {
		        alert("삭제할 상품을 선택하세요.");
		        return false;
		    }

		    if (confirm("선택한 상품들을 삭제하시겠습니까?")) {
		        document.getElementById("deleteForm").submit();
		    }
		}
		
		// 상품 전체 선택/해제하기
		function selectAll(isChecked) {
	        const checkboxes = document.querySelectorAll('.product-checkbox');
	        checkboxes.forEach((checkbox) => {
	            checkbox.checked = isChecked;
	        });
	    }
		
		document.addEventListener('DOMContentLoaded', function() {
			var dropbtns = document.querySelectorAll('.sidebar .dropbtn');
			
			dropbtns.forEach(function(btn) {
				btn.addEventListener('click', function(e) {
					e.preventDefault();
					this.classList.toggle('active');
					var content = this.nextElementSibling;
					content.classList.toggle('show');
				});
			});
		});
	</script>

</body>
</html>