<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상품 등록</title>
<link rel="stylesheet" href="/css/product/admin/register.css">
</head>
<body>
<div class="header">
        <a href="#"><h2>관리자 페이지</h2></a>
        <div class="header-menu">
            <a href="#">관리자님</a>
            <button>로그아웃</button>
        </div>
    </div>
    <div class="container">
            <ul class="sidebar">
                <li>
                    <a href="#">공지사항 관리</a>
                </li>
                <li>
                    <a href="#">리뷰 관리</a>
                </li>
                <li>
                    <a href="#">회원 관리</a>
                </li>
                <li>
                    <a href="#">상품 관리</a>
                    <ul>
                        <li>
                            <a href="/admin/product/register">상품 등록</a>
                        </li>
                        <li>
                            <a href="/admin/product/list">상품 조회</a>
                        </li>
                    </ul>
                </li>
            </ul>        
        <div class="content">
            <h2>상품 등록하기</h2>
            <form th:action="@{/admin/product/register}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="form-top">
                        <div class="form-left">
                            <ul>
                                <li>
                                    <label for="name">상품명</label>
                                    <input type="text" id="name" name="pName" required>
                                </li>
                                <li>
                                    <label for="category">상품 유형</label>
                                    <select id="categoryNo" name="categoryNo" required>
                                        <option value="">선택하세요</option>
                                        <option value=1>한식</option>
                                        <option value=2>중식</option>
                                        <option value=3>일식</option>
                                    </select>
                                </li>
                                <li>
                                    <label for="price">상품 가격</label>
                                    <input type="number" id="pPrice" name="pPrice" required>
                                </li>
                                <li>
                                    <label for="starDate">유통 기한</label>
                                    <input type="date" id="expiration" name="expiration" required>
                                </li>
                                <li>
                                    <label for="sale">할인율</label>
                                    <input type="number" id="sale" name="sale" min="0" max="100" value="0">
                                </li>
                            </ul>
                        </div>
                        <div class="form-right">
                            <ul>
                                <li>
                                    <label for="imgMain">대표 이미지</label>
                                    <div class="image-upload">
                                        <input type="file" id="imgMain" name="imgMain" accept="image/*" required onchange="readURL(this, 'mainPreview')">
                                        <img id="mainPreview" 
                                            th:src="${productDetailVO != null && productDetailVO.imgMain != null 
                                                    ? '/images/' + productDetailVO.imgMain 
                                                    : '/images/no-image.png'}" 
                                            alt="포맷 : JPG, PNG 해상도 : 1300x1300px 이하">
                                    </div>
                                </li>
                                <li>
                                    <label for="inventory">입고량</label>
                                    <input type="number" id="pInput" name="pInput" min="0" required>
                                </li>
                                <li>
                                    <label for="inventory">출고량</label>
                                    <input type="number" id="pOutput" name="pOutput" min="0" value="0">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <ul>
                            <li>
                                <label for="name">상품설명</label>
                            </li>
                            <li>
                                <label>조리된 사진</label>
                                <div class="image-upload">
                                    <input type="file" id="imgCook" name="imgCook" accept="image/*" onchange="readURL(this, 'cookPreview')">
	                                <img id="cookPreview" 
	                                th:src="${productDetailVO != null && productDetailVO.imgCook != null 
										     ? '/images/' + productDetailVO.imgCook 
										     : '/images/no-image.png'}"
								     alt="조리된 이미지">
                                </div>
                            </li>
                            <li>
                                <label>상품 구성 사진</label>
                                <div class="image-upload">
                                	<input type="file" id="imgComponent" name="imgComponent" accept="image/*" onchange="readURL(this, 'componentPreview')">
	                                <img id="componentPreview" 
	                                	th:src="${productDetailVO != null && productDetailVO.imgComponent != null 
											     ? '/images/' + productDetailVO.imgComponent 
											     : '/images/no-image.png'}" 
	                                	alt="컴포넌트 이미지">
                                </div>
                            </li>
                            <li>
                                <label>상품 구성</label>
                                <input type="text" id="pComponent" name="pComponent" required>
                            </li>
                            <li>
                                <label>조리법</label>
                                <input type="text" id="cook" name="cook">
                            </li>
                            <li>
                                <label>추가 정보</label>
                                <input type="text" id="content" name="content">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-bottom">
                    <div class="buttons">
                        <button type="reset">초기화</button>
                        <button type="submit">등록</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        // 이미지 미리보기
	    function readURL(input, previewId) {
	        if (input.files && input.files[0]) {
	            var reader = new FileReader();
	            reader.onload = function(e) {
	                var preview = document.getElementById(previewId);
	                var uploadBox = preview.parentElement;
	                
	                preview.src = e.target.result; 
	                preview.style.display = 'block';
	                uploadBox.style.border = 'none';
	            }
	            reader.readAsDataURL(input.files[0]);
	        }
	    }

        // 입고량, 출고량
        const pInput = document.getElementById('pInput');
        const pOutput = document.getElementById('pOutput');
        const form = document.querySelector('form'); 

        function validateOutput() {
            const inputVal = parseInt(pInput.value);
            const outputVal = parseInt(pOutput.value);

            if (outputVal > inputVal) {
                alert("출고량은 입고량보다 많을 수 없습니다.");
                pOutput.value = "";
            }
        }
        pOutput.addEventListener('input', validateOutput);
        pInput.addEventListener('input', validateInput);

        form.addEventListener('submit', function(event) {
            const inputVal = parseInt(pInput.value);
            const outputVal = parseInt(pOutput.value);

            if (outputVal > inputVal) {
                alert("출고량은 입고량보다 많을 수 없습니다.");
                event.preventDefault(); 
            }
        });
    </script>
</body>
</html>