@charset "UTF-8";
/* 전체 */
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* 헤더 */
.header {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu a {
    text-decoration: none;
    margin-right: 20px;
}

.header-menu button {
    color: #ff0000;
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 부모 요소의 색상 유지 */
}

a:visited, a:active, a:hover {
    color: inherit; /* 클릭했을 때도 색상이 변하지 않음 */
}

/* 컨테이너 */
.container {
    display: flex;
    flex-grow: 1;
}

/* 사이드바 스타일 */
.sidebar {
    background-color: #f1f1f1;
    width: 200px;
    padding: 20px;
    height: 100%;
    margin: 0;
}

.sidebar li {
    list-style: none;
    position: relative;
}

.sidebar a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 10px;
}

.sidebar a:hover, .sidebar a.active {
    background-color: #ddd;
}

.content {
    padding:0 20px;
    flex-grow: 1;
}

/* 드롭다운 메뉴 */
.sidebar .dropdown-content {
    display: none !important;
    padding-left: 20px;
}

.sidebar .dropdown-content.show {
    display: block !important;
    padding: 10px;
}

.sidebar .dropdown-content a {
    padding: 10px;
}

.sidebar .dropbtn::after {
    content: ' ▼';
    font-size: 12px;
}

.sidebar .dropbtn.active::after {
    content: ' ▲';
}

/* 콘텐츠 영역 */
.content {
    flex-grow: 1;
    padding: 20px;
}

.content h2 {
    margin-top: 0;
}

/* 폼 */
.form-top {
    display: flex;
    margin-bottom: 20px;
    align-items: stretch;
}

.form-left, .form-right {
    flex-basis: 50%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.form-group ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-group li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    width: auto;
}

.form-group .form-right li{
    padding: 5px 0;
}

.form-right {
    padding-bottom: 20px;
}

.form-group input{
	margin-right: 10px;
    box-sizing: border-box;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family: inherit;
    font-size: inherit;
}

textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0,123,255,.25);
}

/* 이미지 업로드 버튼 */
.image-upload {
    width: 100%;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.image-upload img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 
    display: block;
}

.image-upload p{
    text-align: center;
    padding: 0 !important;
}

.image-upload input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* 버튼 */
.buttons {
    float: right;
}
button {
    background-color: #7fad39;;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    height: 40px;
}
button:hover {
    background-color: #6f9a33;
}