/* 전체 페이지 레이아웃 */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    flex: 1;
}

main {
    flex: 1;
    padding: 20px;
}

/* 푸터를 화면 하단에 고정 */
footer {
    background-color: #f0f0f0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-top: auto;
    width: 100%;
}

footer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 0;
}

footer ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.footer-text {
    margin-top: 20px;
}

/* 헤더 스타일 */
header {
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left .logo-text {
    margin-left: 20px; /* "관리자 페이지" 글자만 왼쪽으로 붙임 */
    font-weight: bold;
}

.headerimage {
    display: inline-block;
    vertical-align: middle;
    width: 250px;
    height: 40px;
}
header .logo {
    font-weight: bold;
}




header nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

header nav ul li a, .user-info a {
    text-decoration: none;
    color: black;
}
