@charset "UTF-8";

/* ============================== 헤더 =========================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 1470px;
}
.header-content a {
    text-decoration: none;
    color: black;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    transition: color 0.3s ease;
}

/* =========================== 발바닥 ================================ */
.footerclass {
    text-align: center;
    word-spacing : 40px;
    padding: 40px;
    margin-top: 20px;
    
}
